/* header style */
.header{
  color: #000;
  background-color:#ccc;
  width: 7.5em;
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin: 20px 15px 10px 15px;
  
}

/*controls box around userarea*/

.form-box{
  border-style:solid;
  border-color:#000;
  background-color:#CCC;
  padding: 0em 1em 2em 1em;
  border-radius: .5em;
}


.form-box form input{
    display: block;
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 15em;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #222;
    margin: 0px 15px;
}

.form-button{
    text-align: center !important;
    width: 15.339em !important;
    cursor: pointer;
    
}


/*makes code move to the middle*/

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

/* bakground image style*/

.image{ 
  background: url("http://www.mrgeek.me/wp-content/uploads/2012/12/Manchester-City-wins-Premier-League-for-first-time.jpg") center center no-repeat;
  background-size:cover;
  background-attachment:fixed;}
      
.image2{ 
  background: url(http://www.wpmap.org/wp-content/uploads/2015/11/world-map.gif) center center no-repeat;
  }

.image3{
  background: url(https://thumbs.dreamstime.com/b/vintage-map-spain-portugal-3882721.jpg) center center no-repeat;   
}

.image4{
    background: url(https://lonelyplanetimages.imgix.net/mastheads/GettyImages-163188684_medium.jpg?sharp=10&vib=20&w=1200) center center no-repeat; 
}

   